@font-face {
    font-family: 'Plank';
    src: url('PlankBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    background: black;
   
}

.mensaje{
    color:rgb(80, 80, 80);
    position: absolute;
    width:100%;
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 3rem;


}


.esfera{
    position: absolute;
    width: 4rem;
    transform: translate(-50%, -50%);

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
.canvas{
    background: black;
}

span{
    padding:0.5rem 1rem;
    color:white;
    
    
}